.App {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
  background-color: lemonchiffon;
  font-size: 16px;
}
.App-header {
  display: flex;
  justify-content: space-between;
  /*background-color: antiquewhite;*/
  border: 1px solid #eee;
  padding: 20px;
}

.input-form {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #eee;
  border-radius: 10px;
}
.input-box {
  /*background-color: lemonchiffon;*/
  display: flex;
  gap: 20px;
  align-items: center;
}

.input-box label {
  font-weight: bold;
}

.input-box input {
  padding: 10px;
  border: none;
  border-radius: 8px;
}

#input-btn {
  padding: 10px 20px;
  box-sizing: border-box;
  background-color: khaki;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

section h3 {
  font-weight: bold;
  font-size: 20px;
  padding: 20px 0;
  background-color: lavenderblush;
}

.todo-box {
  background-color: moccasin;
  width: 300px;
  border-radius: 15px;
  margin: 20px;
}
.todo-box h4 {
  font-size: 20px;
  padding: 20px;
}
.todo-box p {
  padding: 20px;
}

.todo-box button {
  box-sizing: border-box;
  padding: 10px;
  width: 100px;
  margin: 20px;
}

.todo-box article {
  display: flex;
  justify-content: space-between;
}

.todo-box-frame {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.todo-box-frame-done {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
